<% console.log(locals) %>

<p>
    Basic insertion, no HTML escaping <%- name %>
    Basic insertion <%- locals.name %> <%# Same as name %>
</p>
<p>
    HTML Escape <%= name %>
</p>
<p>
    Whitespace slurping <%_ name _%>
</p>
<p>
    Newline trim <%- name -%>
</p>


<p>
    Scriptlet <% name %> <%# This is a comment. Scriptlets have no output %>
</p>

Age???
<% if (typeof(age) !== 'undefined') { -%> <%# Scriptlet used for flow control %>
It is: <%- age -%>
<%  } else { -%>
Not provided
<%  }  %>


Age???
<%- typeof(age) !== 'undefined' ? `It is ${age}` : "Not provided" %>

<% for(let i = 1; i <= 10; i++) { %>
i: <%- i -%>
<%  } %>

<%- include('basic-include.ejs', {message: `${name} says goodbye!`}); -%>