<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title><%- squadName %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
      <h1><%- squadName %></h1>
      <hr>
      <b>Home town: </b><%- homeTown %>
      <hr>
      <h2>The Team</h2>
      <!-- Could do sorting here... but yuck
      <%
        members.sort((a,b) => {
          if (a.name < b.name) return -1;
          if (a.name > b.name) return 1;
          return 0;
        });
      %> 
      -->
      <% for(let hero of members) {
        console.log(hero);  
        -%>
        <!-- Pass in an object with hero and powers properties -->
        <%- include('superheroSingle.ejs', 
                    {name:hero.name, powers:hero.powers}); %>
        <!-- Pass in the hero object which has those properties -->
        <!-- <%- include('superheroSingle.ejs', hero) %> -->
      <% } %>
  </body>
</html>
