<%- include("super-common-header.ejs", {title:name}) %>

<div class="hero">
  <h1>Name: <%- name %></h1>
  <p><b>Age: </b><%- age %></p>
  <p><b>Secret Identity: </b><%- secretIdentity %></p>
  <hr>
  Powers:
  <ul>
    <% for (let p of powers) { %>
      <li><%- p %></li>
    <% } %>
  </ul>
</div>
<hr>
<a href="/heroes/">Back to the squad</a>

</body>
</html>
