<%- include("super-common-header.ejs", {title : hero.name}) %>

<div class="hero">
  <h1>Name: <%- hero.name %></h1>
  <p><b>Age: </b><%- hero.age %></p>
  <p><b>Secret Identity: </b><%- hero.secretIdentity %></p>
  <hr>
  Powers:
  <ul>
    <% for (let p of hero.powers) { %>
      <li><%- p %></li>
    <% } %>
  </ul>
</div>
<hr>
<a href="/heroes/">Back to the squad</a>

</body>
</html>
