<%- include("layout-header"); -%>

<h1>
    <%= title %>
</h1>
<% if(author_list.length == 0) { %>
  <p>There are no Authors.</p>
<% } else { %>
  <ul>
      <%  
        for(let author of author_list) { 
      %>
        <li><a href="<%- author.url _%>"><%= author.name %></a> | (<%= author.lifespan %>)</li>
      <% } %>
  </ul>
<% } %>

<%- include("layout-footer"); -%>