<%- include("layout-header"); -%>

<h1>
    <%= title %>
</h1>
<% if(book_list.length == 0) { %>
  <p>There are no books.</p>
<% } else { %>
  <ul>
      <%  
        book_list.forEach(function(book) { 
      %>
        <li><a href="<%- book.url _%>"><%= book.title %></a> (<%= book.author.name %>)</li>
      <% }); %>
  </ul>
<% } %>

<%- include("layout-footer"); -%>
