<%- include('layout-header'); -%>

<h1>
  Delete Genre: <%= genre.name %>
</h1>

<hr>

<% if(genre_books.length != 0) { %>
  <div class='alert alert-warning'>Delete the following books before attempting to delete this genre.</div>
  <h2>Books</h2>
  <ul>
    <% genre_books.forEach(function(book) { %>
      <li><a href='<%- book.url _%>'><%= book.title %></a></li>
    <% }); %>
  </ul>
<% } else { %>
  <p>Do your really want to delete this Genre?</p>
  <form method='POST' action=''>
    <div class='form-group'>
      <input type='hidden' name='id' required='true', value='<%= genre.id %>'>
      <button class='btn btn-primary' type='submit'>Delete</button>
    </div>
  </form>
<% } %>

<%- include('layout-footer'); -%>