<%- include('layout-header'); -%>

<h1>
    <%= title %>
</h1>
<p>
    Welcome to <em>LocalLibrary</em>, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
</p>

<h2>Dynamic content</h2>

<% if(error) { %>
  <p>Error getting dynamic content.</p>
<% } else { %>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Authors:</strong> <%- data.author_count%></li>
    <li><strong>Genres:</strong> <%- data.genre_count%></li>
    <li><strong>Books:</strong> <%- data.book_count%></li>
    <li><strong>Copies:</strong> <%- data.book_instance_count%></li>
    <li><strong>Copies available:</strong> <%- data.book_instance_available_count%></li>
  </ul>
<% } %>

<%- include('layout-footer'); -%>
