<%- include("super-common-header.ejs", {title:name}) %>
    <div class="hero">
      <h1>Name: <%= name %></h1>
      <p>Identity: <%= secretIdentity %></p>
      <p>Age: <%= age %></p>
      Powers:
      <ul>
        <% for (let p of powers) { %>
          <li><%= p %></li>
        <% } %>
      </ul>
      <% if(team) { %>
      <p>Team: <a href="<%- team.url %>"><%- team.squadName %></a></p>
      <% } %>
    </div>

    <hr>

    <ul class="list-unstyled">
      <li><a href="/heroes/update/<%- _id %>">Update this hero</a></li>
      <li><a href="/heroes/delete/<%- _id %>">Delete this hero</a></li>
    </ul>


<%- include("super-common-footer.ejs")%>