<%- include("super-common-header.ejs", {title: hero.name}) %>
    <div class="hero">
      <h1>Name: <%= hero.name %></h1>
      <p>Identity: <%= hero.secretIdentity %></p>
      <p>Age: <%= hero.age %></p>
      Powers:
      <ul>
        <% for (let p of hero.powers) { %>
          <li><%= p %></li>
        <% } %>
      </ul>
      <% if(hero.team) { %>
      <p>Team: <a href="<%= hero.team.url %>"><%= hero.team.squadName %></a></p>
      <% } %>
    </div>

    <hr>

    <ul class="list-unstyled">
      <li><a href="/heroes/update/<%= hero._id %>">Update this hero</a></li>
      <li><a href="/heroes/delete/<%= hero._id %>">Delete this hero</a></li>
    </ul>


<%- include("super-common-footer.ejs")%>